body {
	background-color: #ddd;
	color: #333;
	font-size: 14px;
	font-family: Arial,"黑体",sans-serif,sans,"SimSun";
	margin: 0;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
* {
	box-sizing: border-box;
}
a {
	color: blue;
}
.h1 {
	font-size: 24px;
	color: #000;
}
.h3 {
	font-size: 18px;
	color: #000;
}
.h4 {
	font-size: 16px;
	color: #000;
	border-left: solid 2px #bbb;
	padding-left: 8px;
	height: 30px;
	line-height: 30px;
}
.h5 {
	font-size: 15px;
	color: #333;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;

}
/*Navigator*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
nav>img {
	float: left;
	width: 100px;
	height: 100%;
}
nav>ul {
	float: right;
	list-style: none;
}
nav>ul>li {
	display: inline-block;
	margin-right: 10px;
}
nav>ul>li a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
nav>ul>li a:hover {
	color: #ccc;
}
.nav_active {
	color: #ccc;
}
/*Section*/
body>section {
	width: 100%;
	background-color: #fff;
	box-shadow: 2px 2px 3px #666;
	padding: 15px;
	margin-top: 20px;
}
p.vicetitle {
	font-size: 18px;
	color: #555;
}
p.elseinfo {
	font-size: 13px;
	color: #777;
}
p.t_indent {
	text-indent: 2em;
}
ul.list_item {
	list-style: none;
}
section.img_area div {
	width: 30%;
	border: solid 2px #ddd;
	padding: 20px;
	margin-bottom: 20px;
}
section.img_area div img {
	width: 100%;
}
ol.list_order {
	color: #000;
	font-weight: 600;
	letter-spacing: 1px;
}
section table {
	width: 100%;
	font-size: 12px;
}
section table tr:first-child {
	font-weight: 600;
	background-color: #333;
	color: #fff;
	text-align: left;
}
section table tr:last-child {
	font-weight: 600;
	background-color: #ccc;
	color: #333;
	text-align: left;
}
section table tr th,
section table tr td {
	text-align: left;
	border: solid 1px #ccc;
	padding: 5px;
}
/*aside*/
aside {
	width: 98%;
	background-color: #fff;
	box-shadow: 2px 2px 3px #666;
	padding: 15px;
	margin-top: 20px;
}
aside table {
	width: 100%;
}
aside table tr td:first-child {
	text-align: right;
}
aside table tr td:last-child {
	text-align: left;
}
aside table tr td {
	padding: 10px;
}
aside table tr td.help-block {
	padding-top: 0;
	color: #bcbcbc;
}
aside table tr td textarea {
	width: 90%;
}
aside table tr td.textarea_label {
	vertical-align: top;
}
aside table tr:last-child td button {
	width: 100%;
	height: 32px;
	background-color: rgb(51,85,208);
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
}
aside table tr:last-child td button:hover {
	background-color: rgb(51,90,255);
	font-weight: 600;
}
form label {
	cursor: pointer;
}



